@font-face {
    font-family: 'BR Firma';
    src: url('BRFirma-Bold.woff2') format('woff2'),
        url('BRFirma-Bold.woff') format('woff'),
        url('BRFirma-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR Firma';
    src: url('BRFirma-SemiBold.woff2') format('woff2'),
        url('BRFirma-SemiBold.woff') format('woff'),
        url('BRFirma-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR Firma';
    src: url('BRFirma-RegularItalic.woff2') format('woff2'),
        url('BRFirma-RegularItalic.woff') format('woff'),
        url('BRFirma-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BR Firma';
    src: url('BRFirma-Regular.woff2') format('woff2'),
        url('BRFirma-Regular.woff') format('woff'),
        url('BRFirma-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BR Firma';
    src: url('BRFirma-Medium.woff2') format('woff2'),
        url('BRFirma-Medium.woff') format('woff'),
        url('BRFirma-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

